$breakpoint-mobile: 335px;
$breakpoint-tablet: 758px;
$breakpoint-desktop: 1024px;

$pc-base-width: 1100px !default;
$mobile-base-width: 750px !default;

// $breakpoint-mobile: 768px !default;



$main-mint: #7FFAF6;
$main-mint-light: #C1FAF6;
$main-mint-dark: #1BFAF6;
$main-orange: #fac366;
$main-orange-light: #FADAA7;
$main-orange-dark: #FA9F02;
$sub-blue: #8CC3FA;
$sub-blue-light: #CDE5FA;
$sub-blue-dark: #288FFA;
$sub-red: #FA9E98;
$sub-red-light: #FADBD9;
$sub-red-dark: #FA4234;
$sub-green: #73FAA9;
$sub-green-light: #B4FACE;
$sub-green-dark: #0FFA71;
